<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2><%= @organization.name %> has been registered!</h2>
    <p>Registed by <%= @creator_account.email %></p>
  </body>
</html>

