<div class="flex flex-col items-center pb-6 sm:py-8 lg:py-12">
  <h2 class="text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8 xl:mb-12">Reset password</h2>
  <%= form_tag password_reset_path, class: 'my-4 w-full max-w-lg' do %>
    <div class="mb-2">
    <%= label_tag :email, 'Email Address' %><br />
    </div>
    <div class="mb-4">
    <%= text_field_tag :email,
      params[:email],
      class: "px-3 py-2 bg-gray-800 placeholder-gray-400 focus:outline-none focus:ring-purple-600 block w-full rounded focus:ring-1",
      placeholder: 'you@example.com',
      type: 'email'
    %>
    </div>
  <%= submit_tag "Reset password", class: 'w-full bg-purple-800 hover:bg-purple-900 active:bg-gray-800 focus-visible:ring ring-purple-300 text-white text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-4 py-2 md:px-8 md:py-3' %>
<% end %>
</div>
