<div class="bg-white py-6 sm:py-8 lg:py-12">
  <h2 class="text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8 xl:mb-12">Account activation required</h2>
  <div class="text-gray-800 px-4 md:px-8 flex justify-center">
    <div class="p-6 w-1/2 rounded-lg border border-gray-200 shadow-md">
      <p>We've just sent a link to <span class="font-semibold"><%= @email %></span>.<br />Check out your inbox and click the link to activate your account.</p>
      <p>You can close this tab.</p>
    </div>
  </div>
</div>
