<div id="lp-advantages" class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-16 mx-auto">
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Why us?</h2>
    </div>

    <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16">
      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-violet-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <%= inline_svg_tag 'icons/regular/rocket-launch.svg', class: 'w-6 fill-white' %>
        </div>
        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Process tested at scale</h3>
          <p class="text-gray-500 mb-1">Our process was based on processes used by many of the most reliable global companies.</br>It was engineered to specifically match the setup of small to medium start-ups.<p>
        </div>
      </div>
      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-violet-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <%= inline_svg_tag 'icons/regular/box-open.svg', class: 'w-8 fill-white' %>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Out of the box Experience</h3>
          <p class="text-gray-500 mb-2">You don't want to spend time on complex configuration and deep customization.</br>Jump straight to a complete end-to-end process that has been designed for you.</p>
        </div>
      </div>

      <div class="flex gap-4 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center shrink-0 bg-violet-500 text-white rounded-lg md:rounded-xl shadow-lg">
          <%= inline_svg_tag 'icons/regular/people-group.svg', class: 'w-8 fill-white' %>
        </div>

        <div>
          <h3 class="text-lg md:text-xl font-semibold mb-2">Dedicated Team</h3>
          <p class="text-gray-500 mb-2">We're building the product for and with you. We're never far if you need dedicated help setting up the process and the tool in your company.</p>
        </div>
      </div>
    </div>
  </div>
</div>
