<div id="lp-data" class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="mb-8 md:mb-12">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-2 md:mb-3">Some numbers</h2>
      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">Metrics are essential to make sure anything you implement has an impact on your organization. Here are a few numbers we recorded on our metrics after the implementation of our solution.</p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 lg:gap-8">
      <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 lg:p-8">
        <div class="text-violet-500 text-xl sm:text-2xl md:text-3xl font-bold">2 hours</div>
        <div class="text-sm sm:text-base font-semibold">less downtime per month</div>
      </div>

      <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
        <div class="text-violet-500 text-xl sm:text-2xl md:text-3xl font-bold">2 minutes</div>
        <div class="text-sm sm:text-base font-semibold">of average response time</div>
      </div>

      <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
        <div class="text-violet-500 text-xl sm:text-2xl md:text-3xl font-bold">+98%</div>
        <div class="text-sm sm:text-base font-semibold">first touch resolution rate</div>
      </div>

      <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
        <div class="text-violet-500 text-xl sm:text-2xl md:text-3xl font-bold">-55%</div>
        <div class="text-sm sm:text-base font-semibold">of incidents over time</div>
        <div class="text-xs text-gray-400">thanks postmortems!</div>
      </div>
    </div>
  </div>
</div>
