<div class="bg-white pb-4 sm:pb-6 lg:pb-10">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="flex justify-center mb-8">
      <div class="w-96 flex flex-col border rounded-lg py-4 px-8 pt-6">
        <div class="mb-12">
          <div class="text-gray-800 text-2xl font-bold text-center mb-2">Early Adopters</div>

          <p class="text-gray-500 text-center mx-auto px-4 mb-8">Special pricing for the early organizations that join us and help to shape the product.</p>

          <div class="space-y-2">
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 shrink-0 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>

              <span class="text-gray-600">Unlimited incidents</span>
            </div>

            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 shrink-0 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>

              <span class="text-gray-600">Unlimited sms alerts</span>
            </div>

            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 shrink-0 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>

              <span class="text-gray-600">Unlimited postmortems</span>
            </div>

            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 shrink-0 text-violet-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>

              <span class="text-gray-600">24/7 support from us</span>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-8 mt-auto">
          <div>
            <span class="flex justify-center text-gray-500 text-xl mb-2">
              14-days free trial
            </span>
            <div class="flex justify-center items-end gap-1">
              <span class="text-gray-500">then</span>
              <span class="self-start text-gray-600">$</span>
              <span class="text-2xl text-gray-800 font-bold">5</span>
              <span class="text-gray-500">per user/month</span>
            </div>
          </div>

          <a href="/account/new?source=pricing" class="block bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus-visible:ring ring-blue-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Get started</a>
        </div>
      </div>
    </div>
    <div class="text-gray-500 text-sm sm:text-base text-center">Need any extra info? <a href="/contact" class="text-gray-500 hover:text-violet-500 active:text-violet-600 underline transition duration-100">Get in touch</a>.</div>
  </div>
</div>
