<% flash_classes = {
  'success' => 'bg-green-200 border border-green-600 rounded text-green-600 px-2 py-3 text-center mb-8 mx-8',
  'notice' => 'bg-green-200 border border-green-600 rounded text-green-600 px-2 py-3 text-center mb-8 mx-8',
  'warning' => 'bg-orange-200 border border-orange-600 rounded text-orange-600 px-2 py-3 text-center mb-8 mx-8',
  'error' => 'bg-red-200 border border-red-600 rounded text-red-600 px-2 py-3 text-center mb-8 mx-8'
} %>

<% alert_flashes = flash.select { |type| flash_classes.keys.include?(type) } %>
<% alert_flashes.each do |type, msg| %>
  <div class="<%= flash_classes[type] %>">
    <%= msg %>
  </div>
<% end %>
