<div class="bg-gray-900">
  <footer class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-12 lg:gap-8 pt-10 lg:pt-12 mb-16">
      <div class="col-span-full lg:col-span-2">
        <div class="lg:-mt-2 mb-4">
          <a href="/" class="inline-flex items-center text-gray-100 text-xl md:text-2xl font-bold gap-2" aria-label="logo">
            <div class="w-10">
              <%= image_tag("CrisisNexusLogo.png", :alt => "crisis nexus logo") %>
            </div>
            CrisisNexus
          </a>
        </div>
        <p class="text-gray-400 sm:pr-8 mb-6">Don't let chaos manage incidents for you</p>
      </div>

      <div>
        <div class="text-gray-100 font-bold tracking-widest uppercase mb-4">Products</div>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="#" class="text-gray-400 hover:text-purple-500 active:text-purple-600 transition duration-100">Overview</a>
          </div>
        </nav>
      </div>

      <div>
        <div class="text-gray-100 font-bold tracking-widest uppercase mb-4">Company</div>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="#" class="text-gray-400 hover:text-purple-500 active:text-purple-600 transition duration-100">About</a>
          </div>

          <div>
            <a href="#" class="text-gray-400 hover:text-purple-500 active:text-purple-600 transition duration-100">Blog</a>
          </div>
        </nav>
      </div>

      <div>
        <div class="text-gray-100 font-bold tracking-widest uppercase mb-4">Support</div>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="mailto:tmo@crisisnexus.com" target="_blank" class="text-gray-400 hover:text-purple-500 active:text-purple-600 transition duration-100">Contact</a>
          </div>

          <div>
            <a href="https://www.linkedin.com/in/thibaultmirandadeoliveira/" target="_blank" class="text-gray-400 hover:text-purple-500 active:text-purple-600 transition duration-100">Chat</a>
          </div>
        </nav>
      </div>

      <div>
        <div class="text-gray-100 font-bold tracking-widest uppercase mb-4">Legal</div>

        <nav class="flex flex-col gap-4">
          <div>
            <a href="#" class="text-gray-400 hover:text-purple-500 active:text-purple-600 transition duration-100">Terms of Service</a>
          </div>

          <div>
            <a href="#" class="text-gray-400 hover:text-purple-500 active:text-purple-600 transition duration-100">Privacy Policy</a>
          </div>

          <div>
            <a href="#" class="text-gray-400 hover:text-purple-500 active:text-purple-600 transition duration-100">Cookie settings</a>
          </div>
        </nav>
      </div>
    </div>

    <div class="text-gray-400 text-sm text-center border-t border-gray-800 py-8">© 2022 CrisisNexus. All rights reserved.</div>
  </footer>
</div>
