<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to CrisisNexus</h1>
    <p>
      You have successfully signed up. To verify your account, please click on the link below:
    </p>
    <p></p>
    <%= link_to @url, @url %>
  </body>
</html>

