<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Account activated!</h1>
    <p>
      You have successfully activated your account. Congratulations!
    </p>
    <p></p>
    <p>CrisisNexus is still in alpha right now. We're building the product for and with you. Don't hesitate to make feedback.</p>
    <p>You can contact me at tmo@crisisnexus.com</p>
    <p></p>
  </body>
</html>

