<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>CrisisNexus - Reset your account password</h2>
    <p>You asked for a password reset. Please click on the following link to reset your password:</p>
    <%= link_to @url, @url %>
    <p>If you did not request a password reset, please ignore this email.</br>
    Any questions? Contact us at <%= mail_to('tmo@crisisnexus.com') %></p>
  </body>
</html>

