<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome to CrisisNexus</h2>
    <p>
      You have successfully activated your account. Congratulations!
    </p>
    <p>CrisisNexus is still in alpha right now. We're building the product for and with you.
    <br />Don't hesitate to contact us if you need any help setting the tool and the process in your company. We'd also love to have your feedback on our product!</p>
    <p>Contact us at <%= mail_to('tmo@crisisnexus.com') %> or using my number: <%= phone_to('+33637799194') %></p>
  </body>
</html>
